@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: url("@/assets/fonts/Cairo-Light.woff2") format("woff2"),
    url("@/assets/fonts/Cairo-Light.woff") format("woff");
}

@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/Cairo-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Cairo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: url("@/assets/fonts/Cairo-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/Cairo-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Cairo-Bold.woff2") format("woff2"),
    url("@/assets/fonts/Cairo-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  height: 100%;
}
body[data-scroll-locked].body {
  margin-right: 0 !important;
  overflow-y: scroll !important;
}

.recharts-responsive-container *:focus {
  outline: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #7d99b3;
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #728ca3;
  }
}
